@model CinemaxToledo.Models.LoginModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>Cadastrar Usuário</h1>
<form asp-controller="Login" asp-action="salvar" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-6 form-group">
            <label asp-for="login"></label>
            <input type="text" asp-for="login" class="form-control" />
            <span asp-validation-for="login" class="alert-danger"></span>
        </div>
        <div class="col-6 form-group">
            <label asp-for="senha"></label>
            <input type="password" asp-for="senha" class="form-control" />
            <span asp-validation-for="senha" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">       
            <input type="checkbox" asp-for="ativo" />
            <label asp-for="ativo"></label>
            <span asp-validation-for="ativo" class="alert-danger"></span>
        </div>
        <br>
        <div class="col-12 form-group">
            <input type="submit" value="salvar" class="btn btn-primary" />
        </div>
        <div class="col-12 form-group" style="margin-top:50px">
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
        </div>
    </div>
</form>