@model IEnumerable<LoginModel>
@{
    ViewData["Title"] = "listar";
}

<h1>Usuários</h1>
<br />
<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<a href="~/login/cadastro" class="btn btn-info" style="background-color: #021532;">
    Novo
</a>

<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Usuário</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.login</td>
                <td>
                    <a href="~/Login/prealterar/@item.id" class="btn btn-primary" style="background-color: #021532;">
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="~/Login/excluir/@item.id" class="btn btn-primary" style="background-color: #021532;">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>