
@{
    
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador Cinemax Toledo</h1>
    <p>Bem vindo(a)! @Context.Session.GetString("nomeLogin")</p>
</div>
 