@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <!-- Principal CSS do Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Principal CSS do Bootstrap -->
    <link href="~/css/css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="~/css/blog.css" rel="stylesheet">



</head>
<body>
    <div class="container-fluid">
    
    <div style="width:100%">
          @RenderBody()
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->

    <script src="~/lib/jquery/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>

    <script src="~/js/holder.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>