@model SessaoModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>Cadastrar Sessão</h1>
<br />

<form asp-action="salvar" asp-controller="sessao"
      method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label class="codigo" asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control codigo" />
            <span asp-validation-for="id" class="alert-danger codigo"></span>
        </div>
        <div class="col-6 form-group">
            <a>Dia da Sessão</a>
            <label class="date" asp-for="diaSessao"></label>
            <input type="text" asp-for="diaSessao" class="form-control date" />
            <span asp-validation-for="diaSessao" class="alert-danger date"></span>
        </div>
        <div class="col-6 form-group">
            <a>Hora da Sessão</a>
            <label class="time" asp-for="horaSessao"></label>
            <input type="text" asp-for="horaSessao" class="form-control time" />
            <span asp-validation-for="horaSessao" class="alert-danger time"></span>
        </div>
        <div class="col-3 form-group">
            <label asp-for="sala"></label>
            <input type="text" asp-for="sala" class="form-control" />
            <span asp-validation-for="sala" class="alert-danger"></span>
        </div>
        <div class="col-9 form-group">
            <label asp-for="local"></label>
            <input type="text" asp-for="local" class="form-control" />
            <span asp-validation-for="local" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="idFilme"></label>
            <select class="form-control" asp-for="idFilme" asp-items="@ViewBag.listafilmes">
                <option>Selecione um filme.....</option>
            </select>
        </div>
        <br />
        <br>
        <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </div>
        <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

    </div>
</form>


@section Scripts{

    <script>
        $(document).ready(function () {

            $('.date').mask('00/00/0000')
            $('.time').mask('00:00:00')
        })
    </script>
}

